<div class="header-2">
    <div class="left">
        <div class="first-content">
            <input type="checkbox" name="selectall">
            <i class="fas fa-angle-down"></i>
        </div>
        <div>
            <i class="fas fa-redo"></i>
        </div>
        <div>
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>
    <div class="right">
        <!-- <p>1-50 of 2470</p> -->
        <button>1-50 of 2470</button>
        <i class="fas fa-angle-left"></i>
        <i class="fas fa-angle-right"></i>
    </div>
</div>
