*{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.container{
    display: grid;
    padding-top: 10px;
    grid-template-columns: 17% 80% 3%;
    grid-template-areas: 'header header header'
    'sidebar-left header2 sidebar-right'
    'sidebar-left body sidebar-right';
    grid-template-rows: min-content max-content min-content;
}
.app-header{
    grid-area: header;
}
.header2{
    grid-area: header2;
    align-items: center;
    text-align: center;
    height: fit-content;
    // font-size: 10px;

}
.app-sidebar-left{
    grid-area: sidebar-left;
    
}
.app-body{
    grid-area: body;

}
.app-sidebar-right{
    grid-area: sidebar-right;
}
