<!-- <div class="container">
  <div class="text" [ngStyle]="myStyles">
    <input type="text" placeholder="enter"/>
  </div>
  <span class="downbar">
    <ng-container *ngIf="showText">icons</ng-container>
    <button  (click)="toggle()">show formatting</button>
  </span>
</div> -->

<div class="container" [ngStyle]="styleObj">
  <div class="app-header">
    <app-header ></app-header>  
    <!-- (sendToApp)="sendToApp($event)" -->
  </div>
  <div class="header2">
    <app-header2></app-header2>
  </div>
  <div class="app-sidebar-left">
    <app-sidebar-left></app-sidebar-left>
  </div>
  <div class="app-body">
      <router-outlet></router-outlet>
  </div>
  <div class="app-sidebar-right">
    <app-sidebar-right></app-sidebar-right>
  </div>
</div>


