<div class="body-header">
    <div>
        <i class="fa fa-inbox"></i><span class="name" >Primary</span>
    </div>
    <div>
        <i class="fas fa-user-friends"></i><span class="name">Social</span>
    </div>
    <div>
        <i class="fal fa-comments-alt"></i><span class="name">Forums</span>
    </div>
    <div></div>
</div>


<div class="body" [class.toggle-resize]="toggleValue">
    <div class="row" *ngFor="let item of contents | search: searchText; index as mid;">
        <div class="icon">
            <input type="checkbox">
            <i class="fas fa-star " (click)="item.isStarred=!item.isStarred" [ngStyle]="item.isStarred? {'color': 'orange'} : {'color': 'black'}"></i>
        </div>
            <div class="from"> 
                <span class="senderName">{{ item.name.first}}  {{ item.name.last}} </span>
                <mat-card class="card">
                    <mat-card-header>
                        <div mat-card-avatar class="avatar-image"></div>
                        <mat-card-title>{{ item.name.first}}  {{ item.name.last}}</mat-card-title>
                        <mat-card-subtitle>{{item.fromEmail}}</mat-card-subtitle>
                    </mat-card-header>
                    <hr>
                    <mat-card-actions class="card-actions">
                      <button mat-button>Add to contacts</button>
                      <button mat-button class="mat-btn" ><i class="fa fa-envelope" aria-hidden="true"></i></button>
                      <button mat-button class="mat-btn"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>
                      <button mat-button class="mat-btn"><i class="far fa-comment-alt"></i></button>
                      <button mat-button class="mat-btn"><i class="fas fa-video"></i></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="cont" [routerLink]="['/message']"    [queryParams]="{mid: mid, content: sideBarChoice}">
                    <span>{{ subjectCheck(item.subject)}}</span>  {{checkLength(item.description)}} 
                    
            </div>
    
       
        <div class="hover-content">
            <div><i class="fas fa-inbox-in"></i></div>
            <div><i class="fas fa-trash"></i></div>
            <div><i class="fas fa-envelope"></i></div>
            <div><i class="fas fa-clock"></i></div>
        </div>

        <div class="date">
            {{item.date}}
        </div>
        
    </div>
</div>
  